.coluna {
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 15px;
}

.coluna img {
    width: 90%;
    margin-left: 13px;
    margin-top: 10px;
    border-radius: 3%;
}

.qr-code {
    background-color: whitesmoke;
    display: flex;   /* aqui deixamos os itens podem ser ajustados em termos de posição */
    flex-direction: column; /*aqui nos deixamos os elementos um em baixo do outro em coluna */
    flex: 0 1 250px; 
    border-radius: 3%;
}

.text-1 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.text-2 {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
    color: #ccc;
}