html {
    background-color: #ccc;
    font-family: 'Fira Code', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
